.button {
  display: inline-block;

  box-sizing: border-box;
  min-height: 36px;
  padding: 10px;

  cursor: pointer;
  transition: all 0.2s;
  text-align: center;

  border: none;
  border-radius: 5px;

  font-size: 14px;
  line-height: 14px;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.transparent {
  color: var(--black);
  border: 1px solid;
  border: 1px solid var(--gray-light);
  background-color: transparent;
}

.transparent:hover {
  border-color: var(--primary);
}

.arrow {
  display: inline-block;

  margin-left: 10px;

  transition: all 0.2s;
}

.arrow svg {
  fill: currentColor;
}

.down {
  transform: rotate(90deg);
}
