.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    '. header header .'
    '. sidebar main .'
    'footer footer footer footer';
  gap: 0 30px;

  min-height: 100vh;
}

.skiplink {
  position: fixed;
  top: 0;
  left: 100px;

  display: block;
  overflow: hidden;

  height: 0;

  color: var(--white);
  background-color: var(--primary);
}

.displayed {
  height: auto;
  padding: 5px;

  border-radius: 5px;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;

  padding-top: 40px;

  outline: none;
}

.footer {
  grid-area: footer;

  margin-top: 50px;
}

@media screen and (max-width: 960px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      'header'
      'main'
      'footer';
  }

  .main {
    padding: 0 20px;
  }
}
