.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;

  padding: 25px 30px;

  color: var(--white);
  background-color: var(--primary);

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.footer a {
  transition: all 0.2s;
}

.footer a:hover {
  color: var(--gray-light);
}

@media screen and (max-width: 960px) {
  .footer {
    grid-template-columns: 1fr;

    padding: 20px;
  }
}
