.textarea {
  display: block;

  width: 100%;
  min-height: 80px;
  padding: 7px 15px;

  resize: vertical;

  color: var(--black);
  border: none;
  border-radius: 5px;
  outline-color: var(--primary);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.textarea::placeholder {
  color: var(--gray);
}

.error {
  border: 1px solid var(--red);
}

.errorMsg {
  margin-top: 5px;

  color: var(--red);
}
