.rating {
  display: flex;

  width: 120px;
  height: 20px;
}

.star {
  box-sizing: content-box;
  padding-right: 2.5px;
  padding-left: 2.5px;
}

span:first-child > .star {
  padding-left: 0;
}

span:last-child > .star {
  padding-right: 0;
}

.editable {
  cursor: pointer;
}

.errorMsg {
  margin-top: 5px;

  color: var(--red);
}

.error svg {
  stroke: var(--red);
}
