.header {
  display: none;
}

.logo {
  fill: var(--primary);
}

@media screen and (max-width: 960px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 15px;

    padding: 20px;
  }

  .mobileMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    padding: 0 20px;

    background-color: var(--background-color);
  }

  .header .sidebar {
    display: grid;

    padding-top: 20px;
  }

  .menuClose {
    position: absolute;
    z-index: 11;
    top: 20px;
    right: 20px;
  }
}
