.menu {
  margin-top: 10px;

  color: var(--gray-dark);
}

.firstLevelList {
  margin: 0;
  padding: 0;

  list-style: none;
}

.firstLevelItem:not(:last-child) {
  margin-bottom: 20px;
}

.firstLevel {
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr;
  gap: 20px;

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive {
  color: var(--primary);
}

.firstLevel svg {
  fill: currentColor;
}

.secondLevelList {
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 12px;
  padding: 8px 0 8px 32px;

  list-style: none;

  border-left: 1px solid #DFDFDF;
}

.secondLevelItem {
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

.secondLevelItem:last-child {
  margin-bottom: 0;
}

.secondLevel {
  padding: 0;

  cursor: pointer;
  text-transform: uppercase;

  color: inherit;

  border: none;
  background: none;

  font: inherit;
}

.thirdLevelList {
  overflow: hidden;

  margin-top: 13px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;

  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.thirdLevelItem:not(:last-child) {
  margin-bottom: 10px;
}

.thirdLevel {
  display: block;

  outline-offset: -1px;
}

.thirdLevel:hover {
  color: var(--primary);
}

.thirdLevelActive {
  color: var(--primary);
}

/*
.thirdLevelItem:last-child .thirdLevel {
  margin-bottom: 0;
} */
