.sidebar {
  display: grid;
  align-content: start;
  gap: 20px;

  padding-top: 34px;
}

.logo {
  fill: var(--primary);
}

@media screen and (max-width: 960px) {
  .sidebar {
    display: none;
  }
}
